<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/common/header', title: Citizen.model_name.human, subtitle: 'Editar' %>
    <%= render 'form' %>
  </div><!-- /col-md-12 -->
</div><!-- /row -->