<%= render 'layouts/common/header', title: Citizen.model_name.human(count: 2), subtitle: 'Listagem' %>
<div class="row">
  <div class="col-md-12">
    <%= render 'list' %>
    <div class="list-action-buttons">
      <%= render 'layouts/common/buttons/back',
                 link: citizens_path %>

      <%= render 'layouts/common/buttons/new',
                 link: new_citizen_path %>
    </div>
  </div>
</div>

