<%= link_to link,
            class: "btn btn-primary pmd-ripple-effect pmd-btn-raised" do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= new_button_text(defined?(button_text) ? button_text : '')  %>
<% end %>
