default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: municipe_app_development

test:
  <<: *default
  database: municipe_app_test

production:
  <<: *default
  database: <%= ENV['MUNICIPE_APP_DATABASE_DATABASE'] %>
  username: <%= ENV['MUNICIPE_APP_DATABASE_USERNAME'] %>
  password: <%= ENV['MUNICIPE_APP_DATABASE_PASSWORD'] %>